


.navtext{

    color: white;
    
}

nav a{
    color: white;
}

.cdtitle{
    font-size: 25px;
    font-weight: bold;
    text-align: center;

}

.head{

text-align: center;
font-weight: bold;
font-size: 50px;

}
hr{

    margin-bottom: 30px;
    border-bottom: 1px solid black;
}
.prjimg{
    float:left;
    width: 25%;
    height: auto;


}

.clear
{
  clear: both;
}

.prj{

    padding: 0px 0px 20px 20px;
    border-radius: 8px;
    border-width: 3px;
    border: 1px solid black;
    margin-bottom: 10px;

}

iframe{
    display: block;
    margin: 0 auto;


}

.cardi{


    border-radius: 30px;
    border: 0px;


}