@import url('https://fonts.googleapis.com/css2?family=Lobster&family=PT+Sans&display=swap');
body{

    background-color:gray;
    font-family: 'PT Sans', sans-serif;

}

h1{

text-align: center;
font-family: 'Lobster', cursive;
font-size: 60px;

}

hr{
    
    border: 3px   ;

}

.aboutme{
    text-align: left !important;
    background-color: lightsalmon;
}

.sectitle{

text-align: center;
color: blue;
}


.card-title{

    text-align: center;
    font-size: 30px;
}
.img1{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: auto;
    border-radius: 50%;
}

.darktxt{
    color: white;
}

.div1{
    background-color: lightcoral;
    


}
.div2{
    background-color: lightcoral;
    


}

#hobbies{


    
}

.container{

width: 50%;

}
.ss{

    float: left;
    margin-right: 30px;
    color: white;
}

img{
    width:150px;
    height:auto;


}

.head{

    margin-right:50px;
    padding-right:50px;

}


.clearfix {
    overflow: auto;
  }

.border-10{
    
    border-width: 3px;
}



